::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #654ea3; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #654ea3; 
  }
.navi-bar {
    position:fixed;
    width:100%;
    z-index: 2;
    left:0;
    right:0;
    top:0;
    background-color: #654ea3;
    overflow: hidden;
}
.heading {
    font-size:25px;
    font-family: 'Calibri';
    font-weight: bold;
    margin:3.7%;
    color:whitesmoke;
}
.search-bar {
    font-size:15px;
    padding:10px 10px 10px 20px;
    background-color: whitesmoke;
    border-radius:20px;
    border:none;
    outline:none;
    margin-left:2%;
    width:30%;
    margin-top:1%;
    margin-bottom:1%;
}
.right {
    float:right;
}
.points {
    background-color: #48b1bf;
    color:whitesmoke;
    padding:2px 6px 2px 6px;
    border-radius: 5px;
    margin-top:1.4%;
    margin-right:40px;
    box-shadow: inset 0px 0px 0px 0px #06beb6;
    font-family: 'Calibri';
}
.heading-one {
    color:whitesmoke;
    padding:2px 6px 2px 6px;
    margin-top:1.4%;
    margin-right:20px;
    box-shadow: inset 0px 0px 0px 0px whitesmoke;
    font-family: 'Calibri';
    transition-duration: 0.5;
    cursor: pointer;
    text-decoration: none;
}
.heading-one :hover {
    background-color: whitesmoke;
    color:#654ea3;
}
.side-bar {
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px whitesmoke;
    width:20%;
    height:auto;
    right:1.5%;
    border-radius: 20px;
    top:20.5%;
    z-index:-1;
    text-align: center;
    padding-bottom:20px;
}
.main {
    position:absolute;
    top:18%;
    left:0;
    width:82%;
    z-index:-2;
}
.container {
    position: absolute;
    width:90%;
    left:0;
    top:2%;
    z-index:99;
}
.sub-menu {
    position: fixed;
    width:40%;
    left:30%;
    right:30%;
    top:8.5%;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px white;
    padding-top:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-bottom:15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index:10%;
    text-align:center;
    border-top: 1px solid whitesmoke;
}
.heading-two {
    font-size:22px;
    margin-left:3.5%;
    font-family: 'Calibri';
    font-weight: bold;
    width:100%;
}
.link-style {
    text-decoration: none;
    font-size:16px;
    font-family: 'Calibri';
    margin-left:10%;
    color:black;
    transition-duration: 0.5s;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}
.link-style:hover {
    background-color: #654ea3;
    color:whitesmoke;
}
.sub-handler {
    position: fixed;
    width:100%;
    top:8.5%;
    left:0;
    background-color: white;
    padding-top:16px;
    padding-bottom:13px;
}
.main-container-sub {
    width:100%;
    height: 400px;
    background-color: whitesmoke;
    margin-left:4.5%;
    padding-bottom:100px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgb(238, 235, 235);
    padding:10px;
}
.heading-three {
    margin:1%;
    font-family: 'Calibri';
    font-size:20px;
}
.prof-pic {
    width:5%;
    cursor: pointer;
    border-radius: 10px;
}
.customer-name {
    float:left;
    margin-left:10px;
    margin-top:15px;
}
.slight-left {
    margin-left:30px;
}
.label-style-two {
    background-color: #44A08D;
    color:whitesmoke;
    padding:2px 6px 2px 6px;
    border-radius: 5px;
    margin-right:10px;
    margin-left:10px;
    margin-top:15px;
    box-shadow: inset 0px 0px 0px 0px #093637;
    font-family: 'Calibri';
    font-size:15px;
}
.name-dark {
    font-weight: bold;
}
.button-one {
    margin-top:130%;
    outline:none;
    border:none;
    border-radius: 20px;
    color:whitesmoke;
    font-size:12px;
    background-color: #093637;
    padding:5px;
    width:70%;
    cursor: pointer;
}
.left {
    float:left;
}
.detail {
    float:right;
    width:40%;
    padding-bottom:50px;
}

.place-pick {
    width:80%;
    margin-right:20px;
    margin-top:20px;
    border-radius: 10px
}
.sub-detail {
    float:left;
    margin-top:20px;
    margin-left:20px;
    width:55%;
    padding-top:10px;
}
.heading-description {
    font-family: 'Calibri';
    text-align: justify;
}
.button-two {
    outline:none;
    border:none;
    color:whitesmoke;
    border-radius: 5px;
    font-family: 'Calibri';
    padding: 5px 10px 5px 10px;
    width:20%;
    margin-right:10px;
    background-color: #42275a;
    cursor: pointer;
}
.button-three {
    outline:none;
    border:none;
    color:whitesmoke;
    border-radius: 5px;
    font-family: 'Calibri';
    padding: 5px 10px 5px 10px;
    width:20%;
    background-color: #141E30;
    cursor: pointer;
}
.button-four {
    outline:none;
    border:none;
    color:black;
    border-radius: 20px;
    font-family: 'Calibri';
    padding: 5px 10px 5px 10px;
    width:30%;
    background-color: whitesmoke;
    cursor: pointer;
}
.posted {
    font-family: 'Calibri';
}
.points-label {
    background-color: #48b1bf;
    color:whitesmoke;
    padding:2px 6px 2px 6px;
    border-radius: 5px;
    margin-top:15px;
    margin-left:20px;
    box-shadow: inset 0px 0px 0px 0px #06beb6;
    font-family: 'Calibri';
    float:left;
    font-size:15px;
}
.points-label-one {
    background-color: #2C7744;
    color:whitesmoke;
    padding:2px 6px 2px 6px;
    border-radius: 5px;
    margin-top:15px;
    margin-left:20px;
    box-shadow: inset 0px 0px 0px 0px #2C7744;
    font-family: 'Calibri';
    float:left;
    font-size:15px;
}
.side-container {
    position: fixed;
    width:70%;
    border-radius: 20px;
    float:left;
    margin-top:10%;
    margin-left:5%;
    z-index:100;
    background-color: #06beb6;
    height:100%;
}
.side-container-main {
    position:fixed;
    background-color: whitesmoke;
    width:100%;
    height:100%;
    z-index:100;
    top:0;
    left:0;
    right:0;
}
.link {
    text-decoration: none;
    color:whitesmoke;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.side-bar-img {
    width:60%;
    margin-top:4%;
}
.side-bar-label {
    font-size:22px;
    font-family: 'Calibri';
    font-weight: bold;
}
.bio-label {
    font-family: 'Calibri';
    font-size:16px;
}
.badge-one {
    padding:5px 10px 5px 10px;
    font-family: 'Calibri';
    font-size:15px;
    border-radius: 5px;
    margin:5px;
    text-align: center;
}
.blue {
    background-color: #06beb6;
    color:whitesmoke;
}
.silver {
    background-color: silver;
    color:whitesmoke;
}
.salmon {
    background-color: salmon;
    color:whitesmoke;
}
.prof-pic:hover {
    background-color: white;
}